<h1>Lists for Boards</h1>
<%= link_to 'Add List Here', new_list_path %>
<hr />
<%= @lists.each do |list| %>
  <hr />
    <%= list.name %>
    <%= link_to 'Edit', edit_board_list_path(list.board_id, list.id) %>
    <%= link_to 'Delete', board_list_path(list.board_id, list), method: :destroy %>
  <hr />
<% end %>
